
{% load static %}
<html>
    {% load leaflet_tags %}
    {% load geojson_tags %}
        <head>
            <title>Leaflet Map</title>
            <meta charset="utf-8" />
            <meta name="viewport" content = "width=device-width, initial-scale=1.0">   <!-- WICHTIG FÜR RESPONSIVE SEITEN -->
                                
            {% leaflet_js %}
            {% leaflet_css %}
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- LEAFLET-ROUTNG-MACHINE -->
            <link rel="stylesheet" type="text/css" href="{% static 'map/routing/leaflet-routing-machine.css' %}">
            <script type="text/javascript" src="{% static 'map/routing/leaflet-routing-machine.js' %}"></script> 

            <!-- MAP-STYLE -->
            <link rel="stylesheet" type="text/css" href="{% static 'map/style/mapstyle.css' %}"/>
            
            <!-- LEAFLET-TOOLS -->
            <!-- link rel="stylesheet" type="text/css" href="{% static 'map/geometry/leaflet.pm.css' %}" -->
            <!-- script type="text/javascript" src="{% static 'map/geometry/leaflet.pm.min.js' %}"></script -->

            <!-- SIDEBAR -->
            <link rel="stylesheet" type="text/css" href="{% static 'map/sidebar/L.Control.Sidebar.css' %}">
            <script type="text/javascript" src="{% static 'map/sidebar/L.Control.Sidebar.js' %}"></script>
            
        </head>
        <body>
                <!-- Add Container for the Sidebar -->
                <div id="sidebar">
                    <h1>leaflet-sidebar</h1>
                </div>

                <script type="text/javascript">
                    function ourfunction (map, options){
                        
                        //Marker with GeoJson
                        var name;
                        function onEachFeature(feature, layer) {
                        if (feature.properties && feature.properties.popupContent) {
                            layer.bindPopup('<p>' + feature.properties.name + '</p> <br/> <img src="/geomedi/static/map/images/Siegeslaeule_.jpg" /><p>' + feature.properties.description + '</p>');
                            sidebar.setContent('<b>' + feature.properties.name + '</b>');
                        }

                        //OnClick show Sidebar
                        layer.on('click', function (e) {
                            sidebar.toggle();
                        });

                        //OnClick hide Sidebar
                        map.on('click', function () {
                            sidebar.hide();
                        })
                    }

                        var controlLayers = L.control.layers().addTo(map);

                        //Add Marker
                        var ourdata = '{% url "data" %}';
                        
                        $.getJSON(ourdata, function(data){
                            var marker = L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map);
                            controlLayers.addOverlay(marker, 'Marker');
                        })

                        //Add Polygon
                        var polydata = '{% url "poly" %}';
                        
                        $.getJSON(polydata, function(poly){
                            var polygone = L.geoJson(poly).addTo(map);
                            controlLayers.addOverlay(polygone, 'Polygone');
                        })
                        
                        //Routing
                        L.Routing.control({
                            //Startpunkte festlegen
                            waypoints: [
                                L.latLng(52.514, 13.350),
                                L.latLng(52.520, 13.409)
                            ],
                            //Lineoptions
                            lineOptions: {
                                styles: [
                                    {color: 'black', opacity: 0.3, weight: 11},
                                    {color: 'white', opacity: 0.9, weight: 9},
                                    {color: 'red', opacity: 1, weight: 3}
                                ]
                            },
                            //List collapse
                            collapsible: true,
                            //Geocoder
                            geocoder: true,
                            //show routing in beginning
                            show: false,

                        }).addTo(map);

                        //Init Sidebar
                        var sidebar = L.control.sidebar('sidebar', {
                            position: 'left',
                            closeButton: 'true'
                        });
                        //Start options: show/hide sidebar
                        setTimeout(function () {
                            sidebar.hide();
                        }, 500);

                        //Add content to sidebar
                        //sidebar.setContent('<b>' + test + '</b>');
                        map.addControl(sidebar);

                     }
                </script>
                 {% leaflet_map "map" callback="window.ourfunction" %}
                
        </body>
    </html>
    
    